*.zip
FitNesseRoot/properties
FitNesseRoot/ErrorLogs/*
FitNesseRoot/files/testResults/*
FitNesseRoot/RecentChanges*
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
FitNesseRoot/RecentChanges.wiki

